# git files
.git
*.gitattributes
*.gitignore
*.gitkeep

# markdown files
README.md

# env
.env*.example

# installed by package managers
./vendor
./node_modules
./public/build

# editors
./.fleet
./.idea
./.vscode

# dockerfiles
./devops
Dockerfile*
docker-compose*

# storage files
/storage/app/public/

# cached files
/bootstrap/cache/data
/storage/framework/**/*

# assets (CSS, JS)
/public/**/*.css
/public/**/*.js
/public/**/*.js.LICENSE.txt
